%h1 Hellrungj
%h3 About the Webstie
%p This web application was created with
%li
  =link_to "Rails Composer", "http://railsapps.github.io/rails-composer/"
%li
  =link_to "RailsApps project", "http://railsapps.github.io/"
